apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
      version: blue
  template:
    metadata:
      labels:
        app: devops
        version: blue
    spec:
      containers:
      - name: app
        image: yourdockerhub/devops-app:latest
        ports:
        - containerPort: 8080
