apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
      version: green
  template:
    metadata:
      labels:
        app: devops
        version: green
    spec:
      containers:
      - name: app
        image: karthikchitikela25/devops-app:v1.
        ports:
        - containerPort: 8080
